.header {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;

    gap: 1rem;
    background: #131921;
    z-index: 100;
    position: sticky;

}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0;

}

.header__search {

    display: flex;
    height: 36px;

    width: 100%;
    border-radius: 4px;
    overflow: hidden;

}

.header__searchInput {
    width: 100%;
    border: none;
    outline: none;
    background: white;
    padding: 0 16px;
    font-size: 0.9rem;
    transition:all 0.4s;

}
.header__searchAll__container {
    background: rgb(234,237,237);


    padding: 0 0px 0 12px;
    cursor: pointer;
    height: 100%;
    font-size: 0.9rem;
    border: none;
    border-right:1px solid #111111;
    display: flex;
    align-items: center;

}
.header__searchAll__container:hover {
    background: rgb(203, 206, 206);


}
.header__searchIcon__container {

    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;
}

.header__searchIcon {
    width: 18px;


}

.header__nav {

    display: flex;
    justify-content: space-evenly;
    color: white;
    min-width: 300px;
}

.header__option {
    display: flex;
    flex-direction: column;


    margin: 0 10px;
}

.header__optionLineOne {
    font-size: 0.8rem;
    opacity: 0.8;
}

.header__optionLineTwo {
    font-size: 0.95rem;
    font-weight: 700;
}
.header__basket {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 12px;

}
.basket__icon {
 color: white!important;

 }