.orders{
    max-width: 900px;
    margin: 0 auto;
    padding:3rem;

}
/* CSS Styles for the Order Page */


.order__date {
     margin:  0 0 ;
  font-size: 14px;
  color: #999;
  /* Add more styles as needed */
}
.order__container {
    max-width: 1100px;
    margin: 0 auto;
}