.product {
    display: flex;
    flex-direction: column;
    background: white;

    z-index: 1;
       width: 100%;
    /*max-width: 400px;*/
    min-width: 100px;
    margin: 10px;
    padding: 20px;
    align-items: center;




}

.product__info {
    align-self: start;

    height: 100%;
    margin-bottom: 15px;

}

.product__price {
    margin-top: 5px;
}

.product__rating {

}

.product__image {
    max-height: 200px;
    width: 100%;
    margin-bottom: 15px;
    object-fit: contain;
    min-height: 200px;



}


.add_to_basket {
    background: #FF9900!important;
    color: #111111!important;
    font-weight: 600!important;
    letter-spacing: 1.5px!important;
    font-size: 12px!important;
    padding: 10px 20px!important;
}
.add_to_basket:hover {
background: #e09729 !important;
    color: #111111!important;

}