.checkout__left__mid__product {
    margin-top: 1rem;
    grid-template-columns: 1.5fr 5fr;
    min-height: 180px;
    height: auto;
    display: grid;
    align-items: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

}

.checkout__left__mid__image {
    object-fit: contain;
    height: 170px;
    padding: 0.5rem;
    width: 100%;

    margin: 0;
}

.checkout__left__mid__productInfo {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 170px;


}

.checkout__left__mid__productInfo__details {

}

.checkout__left__mid__productInfo span {
    font-weight: 600;
    color: black;
    font-size: 1rem;
}

.green {
    color: darkgreen !important;
}

hr {
    opacity: 0.5;
}

.checkout__left__mid__productInfo__name {
    font-size: 1.15rem;
    font-weight: 550;
}

.checkout__left__mid__productInfo__style {
    font-size: 0.8rem;
    opacity: 0.8;
    padding: 2px 0;
}


.checkout__left__mid__productInfo__buttons {


}


.checkout__left__mid__productInfo__box__quantity {
    padding: 6px 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    z-index: 1;

}

.checkout__left__mid__productInfo__box__remove {

    border: none;

    background: #ffd001;
    color: black;



    font-weight: 520;

    margin-bottom: 1rem;
    transition: all 0.1s ease-in;
     border-radius: 8px;
    cursor: pointer;
        font-size: 0.75rem;
    padding: 6px 24px;



}

.checkout__left__mid__productInfo__box__remove:hover {

    background: #e5bb04;


}