.checkout {

    margin:  16px;
    display: grid;
    grid-template-columns: 4.5fr 1.3fr;
    gap: 1rem;
}
.checkout__right,.checkout__left {
    background: white;
    padding: 1rem;
}
.checkout__left {
    display: flex;
    flex-direction: column;

}
.checkout__left__bottom {
    height: 80px;
  margin: 0;

    text-align: end;


}
.checkout__left__top {
    height: 80px;
    padding: 0 1rem;
     border-bottom: 1px solid rgba(0,0,0,0.15);

}
.checkout__left__mid {



}

.checkout__title {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}



.checkout__right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
