/* Styling for the payments container */

.payments {
  margin: 0 auto;


  background-color: #fff;
  font-family: Arial, sans-serif;
}

/* Styling for the header */
.payments__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin-bottom: 20px;
  width: 100%;
    background:rgb(234,237,237) ;
}

.header__logo {
  height: 50px;
  margin-right: 10px;
  align-self: start;
}

.payments__header__title {
  font-size: 24px;
  font-weight: bold;
  justify-self: center;
}

/* Styling for the container */
.payments__container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 0 auto;
  gap: 2rem;
  position: relative;
}

/* Styling for the left container */
.payments__container__left {
  flex: 1;
  margin-right: 20px;
}
.payment__details_list__1 {
  margin-bottom: 10px;
  height: max-content;
  padding: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
 }
.payment__details_list {

  margin-bottom: 10px;
  padding:0.5rem  1rem 1rem;
  /*border-bottom: 1px solid rgba(0,0,0,0.2);*/

}

.payment__details_list__title {
  font-size: 1.3rem;
  font-weight:500;
  margin-bottom: 10px;
  color: deepskyblue;
  opacity: 0.7;
}
.payment__details_list__info {
  align-self: end;
  display: flex;
  flex-direction: column;


}
.payment__details_list__payment {

  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.payment__details_list__info p {
  margin: 0.1rem 0;
  font-size: 0.8rem;
  color: #333;
}
ol {
  font-size: 1.2rem;

}
.payment__details_list__payment h3 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 20px;
}

.payment__details_list__payment__input {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.1rem;
  align-items: center;

}

.payment__details_list__payment__input label {
  display: block;
  font-weight: 600;
  margin-left: 0.2rem;
  font-size: 1rem;
}

.payment__details_list__payment__input input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.payment__details_list__payment__submit {
  align-self: end;
  background-color: #f0c14b;
  border: none;
  border-radius:8px ;
  color: #111;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Styling for the right container */
.payments__container__right {

  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px;
  height: max-content;
  padding: 0 1.4rem ;
   position: sticky;
  top: 20px;





}
.payments__container__right__top {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.payments__container__right__top p {
  font-size: 0.8rem;
  align-self: center;
  margin: 0.8rem 0.6rem;
}
.button-2 {
  align-self: flex-end;
  /*margin-right: 1rem;*/
}
.payments__container__right__mid {
  border-bottom: 1px solid rgba(0,0,0,0.2);

}.payments__container__right__mid p {
 font-size: 0.8rem;
  padding: 0 0.3rem;
}
.payments__container__right__title {

  font-size: 18px;
  font-weight: bold;
  margin: 15px 10px;
}

.payments__container__right__mid__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.payments__container__right__botton__title {
  font-size: 24px;
  font-weight: bold;
}
.payments__container__right__bootom {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  color: darkred;
}
.conditions {
  line-height: 1.5rem;
}
.payment__cardElement {
     border: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  border-radius: 6px;
  color: aliceblue;
}